# ENV
.env
.env.*
!.env.example

# DEPENDENCIES
node_modules/

# BUILD
dist/
build/
out/
.output/
.vinxi/
.nitro/
/dist-ssr/

# PRISMA (SQLite only if used locally)
*.db
*.db-journal

# CACHE
.cache/
.npm/
.eslintcache
.stylelintcache
.tanstack/
.wrangler/
.dev.vars

# LOGS
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / OS
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store